.oswald {
  font-family: 'Oswald', sans-serif;
}
body {
  width: 100%;
  height: 100%; 
  color: #fff;
  background-color: #4f0435;
  font-family: 'Raleway', sans-serif;
}
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0 35px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: 1px;
}
p {
  margin: 0 0 25px;
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
}
.date {
  font-size: 35px;
  text-shadow: 2px 2px #3D2AAD;
}
a {
  color: #6ecc02;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a:hover,
a:focus {
  text-decoration: none;
  color: #F7F765;
}
a.dark {
  color: #064215;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
a.dark:hover,
a.dark:focus {
  text-decoration: none;
  color: #129600;
}
.light {
  font-weight: 400;
}
.navbar-custom {
  margin-bottom: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  text-transform: uppercase;
  background: rgba(255, 255, 255, 0.8);
}
.navbar-custom .navbar-toggle {
  color: #000;
  background-color: rgba(255, 255, 255, 0.2);
  font-size: 12px;
  outline: none;
}
.navbar-custom .navbar-toggle:focus,
.navbar-custom .navbar-toggle:active {
  border: none;
}
.navbar-custom .navbar-brand {
  font-weight: 700;
}
.navbar-custom .navbar-brand:focus {
  outline: none;
}
.navbar-custom a {
  color: white;
}
.navbar-custom .nav li a {
  -webkit-transition: background 0.3s ease-in-out;
  -moz-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
  color: #3D2AAD;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  font-size: 18px;
}
.navbar-custom .nav li a:hover {
  color: #BE0EE6;
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li a:focus,
.navbar-custom .nav li a:active {
  outline: none;
  background-color: transparent;
}
.navbar-custom .nav li.active {
  outline: none;
}
.navbar-custom .nav li.active a {
  color: #BE0EE6;
}
.intro {
  display: table;
  width: 100%;
  height: auto;
  padding: 100px 0;
  text-align: center;
  color: white;
  background: url(../img/1.jpg) no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.intro .intro-body {
  display: table-cell;
  vertical-align: middle;
}
.intro .intro-body .brand-heading {
  margin-top: 50px;
  font-size: 30px;
  letter-spacing: 7px;
  color: white;
  font-family: 'Oswald', sans-serif;
  font-weight: bold;
  text-shadow: 2px 2px #3D2AAD;
}
.married-header {
  font-size: 40px;
  font-family: 'Oswald', sans-serif;
  text-shadow: 2px 2px #3D2AAD;
}
.intro .intro-body .intro-text {
  font-size: 18px;
}
@media (min-width: 768px) {
  .intro {
    height: 100%;
    padding: 0;
  }
  .intro .intro-body .brand-heading {
    font-size: 80px;
    color: #fff;
    margin-top: 300px;
    text-shadow: 2px 2px #3D2AAD;
  }
  .intro .intro-body .intro-text {
    font-size: 26px;
    color: #DCDFE0;
  }
}
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@-moz-keyframes pulse {
  0% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -moz-transform: scale(1.2);
    transform: scale(1.2);
  }
  100% {
    -moz-transform: scale(1);
    transform: scale(1);
  }
}
  .content-section {
    padding-top: 150px;
  }
.download-section {
  width: 100%;
  padding: 50px 0;
  color: white;
  background: url(../img/2.jpg) no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
#map {
  width: 100%;
  height: 400px;
  margin-top: 100px;
}
footer {
  padding: 50px 0;
}
footer p {
  margin: 0;
}
::-moz-selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
::selection {
  text-shadow: none;
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
}
img::selection {
  background: transparent;
}
img::-moz-selection {
  background: transparent;
}
body {
  webkit-tap-highlight-color: rgba(255, 255, 255, 0.2);
}
.contact-form {
  max-width: 90%;
  margin: 0 auto;
}
textarea,
input {
  border: none;
  outline: none;
  border-radius: 0;
  text-align: center;
  background: none;
  font-weight: 700;
  font-family: 'Lato', georgia;
  font-size: 25px;
  color: #000;
  max-width: 90%;
  padding: 1rem;
  border: 2px dashed rgba(255, 255, 255, 0);
  box-sizing: border-box;
  cursor: text;
}

textarea {
  text-align: left;
  /* overflow:hidden; */
  
  resize: none;
  width: 90%;
  border-color: rgba(255, 255, 255, 0)
}

textarea:focus {
  background-color: rgba(255, 255, 255, 0.2);
  border: 2px dashed rgba(255, 255, 255, 1);
}

textarea:focus:required:valid {
  border: 2px solid rgba(255, 255, 255, 0);
  border-bottom: 2px solid #000;
}

textarea:required:valid {
  border-bottom: 2px solid #000;
}

input {
  border-bottom: 2px dashed #000;
}

input:required,
textarea:required {
  border-bottom: 2px dashed #000;
}

input:focus {
  border-bottom: 2px dashed #000;
  background-color: rgba(0, 0, 0, 0.23);
}

input:required:valid {
  border-bottom: 2px solid #000;
}

input:required:invalid {
  color: rgba(255, 255, 255, 0.5);
}

::-webkit-input-placeholder {
  text-align: center;
  color: #000;
  font-style: italic;
  font-weight: 400;
}

:-moz-placeholder {
  /* Firefox 18- */
  
  text-align: center;
  color: #000;
  font-style: italic;
  font-weight: 400;
}

::-moz-placeholder {
  /* Firefox 19+ */
  
  text-align: center;
  color: #000;
  font-style: italic;
  font-weight: 400;
}

:-ms-input-placeholder {
  text-align: center;
  color: #000;
  font-style: italic;
  font-weight: 400;
}

.expanding {
  vertical-align: top;
}

.send-icn {
  fill: rgba(255, 255, 255, 1)
}

.send-icn:hover {
  fill: rgba(0, 0, 0, 1);
  cursor: pointer;
}

button {
  background: none;
  border: none;
  outline: none;
  margin: 2vmax;
}

button:hover small {
  opacity: 1;
}

small {
  display: block;
  opacity: 0;
}

.website {
  opacity: 1;
  font-size: 16px;
  color: white;
  position: relative;
  text-align: center;
  display: block;
  margin-top: 7%;
  
}

.website a {
  color: white;
}

.btn-lg {
  background-color: transparent;
  border: 1px dashed #000;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-lg.focus, .btn-lg:focus, .btn-lg:hover {
  color: #fff;
  background-color: #000;
  border: 1px dashed #fff;
}
.btn-info {
    color: #000;
    background-color: #6ecc02;
    border-color: #6ecc02;
}
.btn-info:active:focus {
  color: #000;
  background-color: #6ecc02;
  border:none;
  box-shadow: none;
}
.btn-info.focus, .btn-info:focus, .btn-info:hover {
  color: #000;
  background-color: #F7F765;
  border-color: #F7F765;
}
.sched-header {
  color: #fff;
}

.color {
  background: url(../img/map.jpg) bottom center scroll;
}

.clock {
  display: inline-block;
  width: auto;
}

.center {
  text-align: center;
}

.act-font {
  color: black;
}

.back-to-top {
  background: none;
  margin: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 70px;
  height: 70px;
  z-index: 100;
  display: none;
  text-decoration: none;
  color: #6ecc02;
  /*background-color: #ff9000;*/
 }

 .back-to-top i {
  font-size: 60px;
 }
 .gettingheresection {
  padding-top: -100px;
 }
/*GoogleMaps infowindow*/
.firstHeading {
  color: #3D2AAD;
  font-size: 12px;
}
.secondHeading {
  font-size: 10px;
  color: #BE0EE6;
  margin-top: -25px;
}

.location {
  margin-top: -30px;
  text-transform: uppercase;
  text-shadow: 2px 2px #3D2AAD;
}
.married-header {
  margin-top: -30px;
  text-shadow: 2px 2px #3D2AAD;
}
ul li {
  font-size: 16px;
  line-height: 1.5;
  font-weight: bold;
}
#rsvp {
  padding-top: 200px;
  color: #000;
}
#activities {
  padding-top: 200px;
}
#lodging {
  padding-top: 200px;
}
#schedule {
  padding-top: 50px;
}
#gettinghere {
  padding-top: 100px;
}
#footer-image {
  background: url(../img/botanicals.jpg) bottom center scroll;
  color: black;
}

@media (min-width: 767px) {
  .download-section {
    padding: 100px 0;
  }
  #map {
    height: 450px;
    margin-top: 100px;
  }
}
@media (max-width: 767px) {
  .container {
    padding-left: 10px;
    padding-right: 10px;
  }
  .married-header {
    font-size: 20px;
  }
  .date {
    font-size: 20px;
  }
  .location {
    font-size: 16px;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
  .intro .intro-body .brand-heading {
    padding-top: 150px;
    font-size: 28px;
    letter-spacing: 2px;
  }
}
@media (min-width: 768px) {
  p {
    margin: 0 0 35px;
    font-size: 20px;
    line-height: 1.6;
  }
}
@media (min-width: 768px) {
  .navbar-custom {
    padding: 20px 0;
    border-bottom: none;
    letter-spacing: 1px;
    background: transparent;
    -webkit-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    -moz-transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
    transition: background 0.5s ease-in-out, padding 0.5s ease-in-out;
  }
  .navbar-custom.top-nav-collapse {
    padding: 0;
    background: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid rgba(255, 255, 255, 0.8);
  }
}

.color-light {
  background-color: #f5f5f5;
}

.text-white {
  color: #fff;
}

body.modal-open {
    overflow: visible !important;
}
.modal-open{ position: relative; }

.modal-header {
  border-bottom: none;
}